<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-label>CANCELAR</ion-label>
      </ion-button>
    </ion-buttons>

    <div class="title-center">
      <ion-title>Vuelo Ida y Vuelta</ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-button (click)="submitCost()">
        <ion-label>CONFIRMAR</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitCost()">
    <ion-item>
      <ion-input type="number" [(ngModel)]="travelCost" name="travelCost" label="Costo del Viaje"></ion-input>
    </ion-item>    
  </form>
</ion-content>


